asn1crypto==0.24.0
backcall==0.1.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.5
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
Django==2.1
django-reversion==3.0.2
dukpy==0.2.2
future==0.17.1
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
javascripthon==0.10
jedi==0.13.2
Jinja2==2.10
jira==2.0.0
jupyter-echarts-pypkg==0.1.2
kiwisolver==1.0.1
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.1.0
matplotlib==3.0.2
mpld3==0.3
numpy==1.16.1
oauthlib==3.0.1
parso==0.3.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycparser==2.19
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.10
Pygments==2.3.1
PyJWT==1.7.1
PyMySQL==0.9.3
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.8.0
six==1.12.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
xlrd==1.2.0
