<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Proudly presented by PycCharts</title>
	      {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
        {% endfor %}
	      <meta http-equiv="X-UA-Compatible" content="IE=8"/>
        <link href="../../LigerUI/ACIS/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="container-fluid pt-4">
        {% for platform, bar_list in bar_dict_rendered.items %}

        <div class="card">
            <div class="card-header">
                PLATFORM: {{ platform }}
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        {% for bar in bar_list %}
                        <td>
                            {{ bar|safe }}
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}
        </div>

        <script src="../../LigerUI/ACIS/static/js/jquery-3.3.1.js" type="text/javascript"></script>
        <script src="../../LigerUI/ACIS/static/js/popper.js" type="text/javascript"></script>
        <script src="../../LigerUI/ACIS/static/js/bootstrap.js" type="text/javascript"></script>
    </body>
</html>
