<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ACIS Home Page</title>
	  <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <link href="../../LigerUI/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css">
    <link href="../../LigerUI/lib/ligerUI/skins/Gray/css/all.css" rel="stylesheet" type="text/css">
    <link href="../../LigerUI/lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css">
    <link href="../../LigerUI/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="../../LigerUI/lib/ligerUI/skins/Gray2014/css/all.css" rel="stylesheet" />
    <script src="../../LigerUI/lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../LigerUI/lib/jquery-validation/jquery.metadata.js"></script>
    <script src="../../LigerUI/lib/jquery-validation/messages_cn.js"></script>
    <script src="../../LigerUI/lib/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerToolBar.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerGrid.js" type="text/javascript"></script> 
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerFilter.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerResizable.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerPanel.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerPortal.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerListBox.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerCheckBox.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerComboBox.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/ligerui.all.js"></script>
    <script src="../../LigerUI/demos/filter/ligerGrid.showFilter.js" type="text/javascript"></script>
    <script src="../../LigerUI/demos/grid/CustomersData.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
           $("#sync_type").change(function () {
               $("#DynamicAdd").html("")
                if ($(this).val() == "save_erd_data") {
                    ErdVersion = "<label>ERD Version:</label>\n" +
                        "        <br />\n" +
                        "        <input type=\"text\" name='ErdVersion'/>\n" +
                        "        <br />"  +
                        "<label>ERD Excel file:</label>\n" +
                        "        <br />\n" +
                        "        <input type=\"text\" name='erd_excel_file'/>\n" +
                        "        <br />";
                    $("#DynamicAdd").html(ErdVersion);
                } else if($(this).val() == "save_jira_data"){
                    jira_info = "<label>JIRA Server Address</label>\n" +
                            "<br />\n" +
                            "<input type=\"text\" name='jira_address' />\n" +
                            "<br />\n" +
                            "<label>JIRA User</label>\n" +
                            "<br />\n" +
                            "<input type=\"text\" name='jira_user' />\n" +
                            "<br />\n" +
                            "<label>JIRA Password</label>\n" +
                            "<br />\n" +
                            "<input type=\"password\" name='jira_passwd' />\n" +
                            "<br />\n";
                    $("#DynamicAdd").html(jira_info);
                } else if($(this).val() == "save_jenkins_data"){
                    jenkins_info = ""
                    $("#DynamicAdd").html(jenkins_info);
                }
           });
        });
    </script>

</head>
<body style="padding:10px">
    <h2>ACIS Supported Commands List</h2>
    <form action="/actions" target="_self">
        <select name="command" id="sync_type">
            <option value="" >Please select command:</option>
            <option value="save_erd_data" >Save Erd Data</option>
            <option value="save_jira_data" >Save JIRA Data</option>
            <option value="save_jenkins_data" >Save Jenkins Data</option>
        </select>
        <br />
        <label>Platform</label>
        <br />
        <input type="text" name='platform' />
        <br />
        <div id='DynamicAdd'> </div>
        <br />
        <input type="submit" value="submit" />
    </form>
</body>
</html>
