<!DOCTYPE html>
<html>
    <head>
        <title>ACIS Home Page</title>
	      <meta http-equiv="X-UA-Compatible" content="IE=8"/>
        <link href="../../LigerUI/ACIS/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    </head>

    <body>


        <div class="container-fluid pt-4">

            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link active" id="v-pills-save-erd-tab" data-toggle="pill" href="#v-pills-save-erd" role="tab" aria-controls="v-pills-save-erd" aria-selected="true">
                            Save ERD Data
                        </a>

                        <a class="nav-link" id="v-pills-save-jira-tab" data-toggle="pill" href="#v-pills-save-jira" role="tab" aria-controls="v-pills-save-jira" aria-selected="false">
                            Save JIRA Data
                        </a>

                        <a class="nav-link" id="v-pills-debug-tab" data-toggle="pill" href="#v-pills-debug" role="tab" aria-controls="v-pills-debug" aria-selected="false">
                            Debug Commands
                        </a>

                    </div>
                </div>

                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" id="v-pills-save-erd" role="tabpanel" aria-labelledby="v-pills-save-erd-tab">
                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-body">

                                        <form action="/actions" target="_blank">
                                            <div class="form-group">
                                                <label for="erd-platform">Platform</label>
                                                <input id="erd-platform" name="platform" class="form-control" type="text" placeholder="Input Platform Format: eg. QTIX55ARFW">
                                                <label for="ErdVersion">ERD Version</label>
                                                <input id="ErdVersion" name="ErdVersion" class="form-control" type="text" placeholder="Input ERD Version Format: eg. 01.00">
                                                <label for="erd_excel_file">ERD Excel File</label>
                                                <input id="erd_excel_file" name="erd_excel_file" class="form-control" type="text" placeholder="Input ERD Excel File Format: eg. path of excel file">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="v-pills-save-jira" role="tabpanel" aria-labelledby="v-pills-save-jira-tab">
                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-body">

                                        <form action="/actions" target="_blank">
                                            <div class="form-group">
                                                <label for="jira-platform">Platform</label>
                                                <input id="jira-platform" name="platform" class="form-control" type="text" placeholder="Input Platform Format: eg. QTIX55ARFW">
                                                <label for="jira_address">JIRA URL address</label>
                                                <input id="jira_address" name="jira_address" class="form-control" type="text" placeholder="Input JIRA URL: eg. https://issues.sierrawireless.com/">
                                                <label for="jira_user">JIRA User Name</label>
                                                <input id="jira_user" name="jira_user" class="form-control" type="text" placeholder="Input JIRA User Name: eg. acis">
                                                <label for="jira_passwd">JIRA Password</label>
                                                <input id="jira_passwd" name="jira_passwd" class="form-control" type="password">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="v-pills-debug" role="tabpanel" aria-labelledby="v-pills-debug-tab">
                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-body">

                                        <form action="/rex_show_actions" target="_blank">
                                            <div class="form-group">

                                                <label for="debug_actions">Debug Actions</label>
                                                <select multiple class="form-control" id="debug_actions" name="command">
                                                    <option selected value="do_step_01" >-step 01- IMPORT FIRST EDITION ERD TABLE</option>
                                                    <option value="do_step_02" >-step 02- UPDATE ALL JIRA TICKET FOR FIRST EDITION</option>
                                                    <option value="do_step_03" >-step 03- DO ALPHA01 DEVELOP</option>
                                                    <option value="do_step_04" >-step 04- I-TEST ALPHA01 TESTCASEs</option>

                                                    <option value="do_step_05" >-step 05- UPDATE EXCEL TABLE -n 5 & m 2 - </option>
                                                    <option value="do_step_06" >-step 06- UPDATE JIRA DATA FOR CHANGE - n 5 & m 2-</option>
                                                    <option value="do_step_07" >-step 07- I-TEST ALPHA01 TESTCASEs -more- </option>

                                                    <option value="do_step_08" >-step 08- DO ALPHA02 DEVELOP</option>
                                                    <option value="do_step_09" >-step 09- I-TEST ALPHA02 TESTCASEs</option>

                                                    <option value="do_step_10" >-step 10- UPDATE EXCEL TABLE - n 3 & d 2 -</option>
                                                    <option value="do_step_11" >-step 11- UPDATE JIRA DATA FOR CHANGE - n 3 & d 2 -</option>
                                                    <option value="do_step_12" >-step 12- I-TEST ALPHA02 TESTCASEs -more- </option>

                                                    <option value="do_step_13" >-step 13- DO ALPHA03 DEVELOP</option>
                                                    <option value="do_step_14" >-step 14- I-TEST ALPHA03 TESTCASEs</option>

                                                    <option value="do_step_15" >-step 15- UPDATE EXCEL TABLE - n 5 & a 1 -</option>
                                                    <option value="do_step_16" >-step 16- UPDATE JIRA DATA FOR CHANGE - n 5 & a 1 -</option>
                                                    <option value="do_step_17" >-step 17- I-TEST ALPHA03 TESTCASEs -more-</option>
                                                    <option value="do_step_18" >-step 18- DIFF TEST and COMBIN</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script src="../../LigerUI/ACIS/static/js/jquery-3.3.1.js" type="text/javascript"></script>
        <script src="../../LigerUI/ACIS/static/js/popper.js" type="text/javascript"></script>
        <script src="../../LigerUI/ACIS/static/js/bootstrap.js" type="text/javascript"></script>
    </body>
</html>

