<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device Manage</title>

</head>
<body>
<body style="padding:10px">
    <!-- <form action="switch" id="topForm" target="_self"> -->
    <form action="device_static_info_query" id="topForm" target="_self">
        <select name="action">
            <option value="" >Please select your action</option>
            <option value="all_removed_slaves_manage">All Removed Slaves Manage</option>
            <option value="all_available_slaves_manage">All Available Slaves Manage</option>
            <option value="all_removed_duts_manage" >ALL Removed DUTs Manage</option>
            <option value="all_available_duts_manage" >ALL Available DUTs Manage</option>
        </select>
        <br />
        <br />
        <input type="submit" value="submit" />
    </form>
</body>
</body>
</html>