<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ACIS Home Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <link href="../../LigerUI/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css">
    <link href="../../LigerUI/lib/ligerUI/skins/Gray/css/all.css" rel="stylesheet" type="text/css">
    <link href="../../LigerUI/lib/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css">
    <link href="../../LigerUI/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <link href="../../LigerUI/lib/ligerUI/skins/Gray2014/css/all.css" rel="stylesheet" />
    <script src="../../LigerUI/lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../LigerUI/lib/jquery-validation/jquery.metadata.js"></script>
    <script src="../../LigerUI/lib/jquery-validation/messages_cn.js"></script>
    <script src="../../LigerUI/lib/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerToolBar.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerGrid.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerFilter.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerResizable.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerPanel.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerPortal.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerListBox.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerCheckBox.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/plugins/ligerComboBox.js" type="text/javascript"></script>
    <script src="../../LigerUI/lib/ligerUI/js/ligerui.all.js"></script>

    <script src="../../LigerUI/demos/filter/ligerGrid.showFilter.js" type="text/javascript"></script>
    <script src="../../LigerUI/demos/grid/CustomersData.js" type="text/javascript"></script>

    <script type="text/javascript">
     var cookies = {{ cookies|safe }};
     var liger_cookies = {Rows:cookies};

     function isEmptyObject(e) {
         var t;
         for (t in e)
             return !1;
         return !0;
     }

     var any = 0
     var platform = ""
     if (! isEmptyObject(cookies)){
         platform = cookies[any].platform;
     }

     $.ligerDefaults.Filter.operators['string'] = $.ligerDefaults.Filter.operators['text'] = [
         "like" , "equal", "notequal", "startwith", "endwith" ];

     $(function (){
         jira_head = 'https://issues.sierrawireless.com/browse/';
         window['g'] =
             $("#maingrid4").ligerGrid({
                 columns: [
                     { display: 'ERD_ID', name: 'erd_id', align: 'center', minWidth: 60 },
                     { display: 'TestCases', name: 'case_name', minWidth: 200, align: 'center' ,
                       render: function (rowData,value)
                       {
                           out = "";

                           if (rowData.case_name) {
                               ul_f = '<ul>';
                               ul_b = '</ul>';
                               for (obj in rowData.case_name){
                                   out += "<li> <span style='color:black;font-weight:bold'> [" + rowData.case_name[obj] + ']</span></li>';
                               }
                               out = ul_f + out + ul_b;
                           }
                           return out;
                       },
                     },
                     { display: 'TestResult', name: 'test_result', minWidth: 250, align: 'center' ,
                       render: function (rowData,value)
                       {
                           out = "";

                           if (rowData.test_result) {

                               var casename = 0
                               var result = 1

                               ul_f = '<ul>';
                               ul_b = '</ul>';
                               for (obj in rowData.test_result){
                                   if (rowData.test_result[obj][result] == "PASS"){
                                       result_str = "<span style='color:green;font-weight:bold'>" +
                                                    rowData.test_result[obj][result] +
                                                    "</span>";
                                   }else{
                                       result_str = "<span style='color:red;font-weight:bold'>" +
                                                    rowData.test_result[obj][result] +
                                                    "</span>";
                                   }
                                   out += '<li> [' + rowData.test_result[obj][casename] + ':' + result_str + '] </li>';
                               }
                               out = ul_f + out + ul_b;
                           }
                           return out;
                       },
                     },
                     { display: 'TestReports', name: 'test_report', minWidth: 570, align: 'center',
                       render: function (rowData,value)
                       {
                           list_self = [];
                           out = "";

                           if (rowData.test_report){
                               ul_f = '<ul>';
                               ul_b = '</ul>';

                               for (obj in rowData.test_report){
                                   var casename = rowData.test_report[obj][0];
                                   var fw_version ="<span style='color:blue;font-weight:bold'>" +
                                                   rowData.test_report[obj][1] +
                                                   "</span>";
                                   var test_date  ="<span style='color:maroon;font-weight:bold'>" +
                                                   rowData.test_report[obj][2] +
                                                   "</span>";
                                   var report_path ="<a href='" +
                                                    rowData.test_report[obj][3] +
                                                    "' ><span style='color:gray;font-weight:bold'>Go-report</span></a>";

                                   out += "<li> [" + casename + ':' + fw_version  + ':' + test_date + ':' + report_path + "] </li>";
                               }
                               out = ul_f + out + ul_b;
                           }
                           return out;
                       },
                     },
                     { display: 'L1-Ticket', name: 'l1_jira', minWidth: 140, align: 'center',
                       render: function (rowData,value)
                       {
                           if (rowData.l1_jira){
                               link_me = "<a href='"+ jira_head + rowData.l1_jira +"' target=__blank>["+ rowData.l1_jira +"]</a>";
                               return link_me;
                           }
                       },
                     },
                     { display: 'L2-Ticket', name: 'l2_jira', minWidth: 140, align: 'center',
                       render: function (rowData,value)
                       {
                           if (rowData.l2_jira){
                               link_me = "<a href='"+ jira_head + rowData.l2_jira +"' target=__blank>["+ rowData.l2_jira +"]</a>";
                               return link_me;
                           }
                       },
                     },
                     { display: 'JIRA-BUG-Tickets', name: 'bug_jiras', minWidth: 200, align: 'center',
                       render: function (rowData,value)
                       {
                           list_self = [];
                           out = "";
                           if (rowData.bug_jiras){
                               ul_f = '<ul>';
                               ul_b = '</ul>';
                               for (obj in rowData.bug_jiras){
                                   list_self.push("<li> <a href='" + jira_head + rowData.bug_jiras[obj] + "' target=__blank>[" + rowData.bug_jiras[obj] + "]</a> <li>");
                               }
                               for (i = 0 ; i < list_self.length; i++){
                                   out += list_self[i]
                               }
                               out = ul_f + out + ul_b
                           }
                           return out;
                       },
                     },
                     { display: 'Description', name: 'description', minWidth: 300, align: 'center'},
                     { display: 'Category', name: 'category', minWidth: 120, align: 'center', hide:true },
                     { display: 'Title', name: 'title', minWidth: 120, align: 'center', hide:true },
                     { display: 'Version', name: 'version', minWidth: 120 ,heightAlign: 'center',
                       render: function (rowData,value)
                       {
                           out = "";
                           if (rowData.version) {
                               ul_f = '<ul>';
                               ul_b = '</ul>';
                               var versions = rowData.version.split(",").splice(0, (rowData.version.split(",").length - 1));
                               for (i in versions){
                                   /* alert(i) */
                                   version = versions[i].split("-")
                                   if (version[1] == 'deactive'){
                                       out += '<li> <STRIKE> [' + version[0] + ']</STRIKE> </li>';
                                   }else{
                                       out += '<li> [' + version[0] + '] </li>';
                                   }
                               }
                               out = ul_f + out + ul_b;
                           }
                           return out;
                       }
                     },
                     { display: 'HLD', name: 'HLD', minWidth: 150, align: 'center' },
                     { display: 'Status', name: 'status', minWidth: 100, align: 'center' },
                     { display: 'Author', name: 'author', minWidth: 120, align: 'center', hide:true },
                     { display: 'Platform', name: 'platform', minWidth: 70, align: 'center' },
                     { display: 'WorkLoad', name: 'workload', minWidth: 70, align: 'center' },
                     { display: 'Milestone', name: 'milestone', minWidth: 70, align: 'center' },
                     { display: 'Component', name: 'component', minWidth: 70, align: 'center' },
                 ],
                 //data: $.extend(true,{},CustomersData),
                 //data: $.extend(true,{}, myvar),
                 data: $.extend(true,{}, liger_cookies),
                 toolbar: { items: [
                     {
                         text: 'Advance Search',
                         click: itemclick,
                         icon: 'search2'
                     },
                     {
                         text: 'Column View',
                         click: f_open,
                         icon: 'view'
                     },
                     {
                         text: 'SnapShot',
                         click: do_snapshot,
                         icon: 'search2'
                     },
                 ]},
                 fixedCellHeight: false,
                 pageSize: 200,
                 checkbox: true,
                 width: '100%',
                 height: '100%',
                 alternatingRow: false,
                 pageSize:200,
                 pageSizeOptions: [200, 300, 400,500],
                 sortName:'ERD_ID',
                 sortOrder:'desc',
                 dataType: 'server',
                 dataAction: 'server',
                 usePager: true,
                 async: true,
                 scroll: true,
                 enabledSort: true,
                 clickToEdit: false,
                 enabledEdit: true,
                 onAfterShowData: function (rowdata,rowid) {
                     $('[class="l-grid-row-cell-inner"]').each(function () {$(this).css('min-height',"20px");});
                     $('[class="l-grid-header-table"]').each(function () {$(this).css('background-color',"#CCEBFD");$(this).css('font-weight',"bold");});
                 },
                 groupColumnName:'milestone',
                 groupRender: function (milestone,groupdata)
                 {
                     if (milestone){
                         return '< Milestone >  [ ' + milestone + ' ]  (Count=' + groupdata.length + ')';
                     }else{
                         return '< Milestone >  [ Items have NOT yet joined Milestone ]  (Count=' + groupdata.length + ')';
                     }
                 },
                 rowAttrRender: function (rowdata){
                     if (rowdata.status == "DONE"){ // status should be modified to right value.
                         var result = 1;

                         for (obj in rowdata.test_result){
                             if (rowdata.test_result[obj][result] == "FAIL"){
                                 return "style='background:#F6CCD0;'";
                             }
                         }
                         return "style='background:#E3FAD6;'";
                     }
                 },
             });
         $("#pageloading").hide();

         columns_data=[];
         columns_all='';
         columns_ids='';
         $(g.columns).each(function (i, column)
         {
             if (column.name)
             {
                 columns_data.push(
                     {
                         text:column.name,
                         id:column.name
                     });
                 columns_all=columns_all+(columns_all?';':'')+column.name;

                 if (column.hide!=true)
                 {
                     columns_ids=columns_ids+(columns_ids?';':'')+column.name;
                 }

             }
         });
         f_open_data={
             winwidth:540,
             winheight:420,
             checkbox:[
                 {
                     name:'Column',
                     text:columns_all,
                     value:columns_ids,
                     ctrl:'selcolumn'
                 },
             ],
         };
         f_open_init(f_open_data);
     });
     function do_snapshot()
     {
         if (! platform){
             alert("This page is NOT associated with ANY <platform>.\n This snapshot is <invalid> and can NOT be stored.");
         }else{
             if (confirm("Save this snapshot, are your sure ?")) {
                 $.get('/snapshot_store/', {'platform_list' : platform});
             }
         }
     }

     function itemclick()
     {
         g.options.data = $.extend(true,{}, liger_cookies);
         g.showFilter();
     }

     function f_save_checkin()
     {
         var txt = ""
         var rows = g.getCheckedRows();
         $(rows).each(function ()
         {
             txt += this.id + ",";
         });
         return txt
     };

     function f_open_init(dialogData)
     {
         check_list = dialogData.checkbox;

         htmltext=''
         for(var id in check_list)
         {
             if (check_list[id].ctrl) {
                 ctrl=check_list[id].ctrl;
                 if ($('#'+ctrl+'').length>0)
                 {
                     $('#'+ctrl+'').val(check_list[id].value);
                 }
                 else
                 {
                     htmltext=htmltext+'\n<input type="hidden" id="'+ctrl+'" value="'+check_list[id].value+'">'
                 }
             }
         }
         check_list = dialogData.inputbox;
         for(var id in check_list)
         {
             if (check_list[id].ctrl)
             {
                 ctrl=check_list[id].ctrl;
                 if ($('#'+ctrl+'').length>0)
                 {
                     $('#'+ctrl+'').val(check_list[id].value);
                 }
                 else
                 {
                     htmltext=htmltext+'\n<input type="hidden" id="'+ctrl+'" value="'+check_list[id].value+'">'
                 }
             }
         }
         if (htmltext)
             $('#sel_hidden_fields').html(htmltext);
     }
     function f_open_option(dialogData)
     {
         params={};
         filter_keys='';
         check_list = dialogData.checkbox;
         for(var id in check_list)
         {
             if (check_list[id].ctrl && check_list[id].column)
             {
                 ctrl=check_list[id].ctrl;
                 column=check_list[id].column;
                 method=check_list[id].method;
                 if ('__iregex'==method)
                 {
                     filter_keys=filter_keys+(filter_keys?',':'')+column+method;
                     params[column]=$('#'+ctrl+'').val().replace(/;/g,'|');
                 }
                 else if (method)
                 {
                     filter_keys=filter_keys+(filter_keys?',':'')+column+method;
                     params[column]=$('#'+ctrl+'').val();
                 }
                 else
                 {
                     params[column]=$('#'+ctrl+'').val();
                 }
             }
         }
         Fuzzy_Enquiry_cols='';
         check_list = dialogData.inputbox;
         for(var id in check_list)
         {
             if (check_list[id].ctrl && check_list[id].column)
             {
                 ctrl=check_list[id].ctrl;
                 column=check_list[id].column;
                 columns=column.split(';');
                 if (columns.length>1)
                 {
                     Fuzzy_Enquiry_cols=Fuzzy_Enquiry_cols+(Fuzzy_Enquiry_cols?' and ':'')+'('+column.replace(/;/g,' or ')+')';
                 }
                 method=check_list[id].method;
                 for(var c in columns)
                 {
                     column=columns[c];
                     if ('__iregex'==method)
                     {
                         filter_keys=filter_keys+(filter_keys?',':'')+column+method;
                         params[column]=$('#'+ctrl+'').val().replace(/;/g,'|');
                     }
                     else if (method)
                     {
                         filter_keys=filter_keys+(filter_keys?',':'')+column+method;
                         params[column]=$('#'+ctrl+'').val();
                     }
                     else
                     {
                         params[column]=$('#'+ctrl+'').val();
                     }
                 }

             }
         }
         if (params.filter_fmls && Fuzzy_Enquiry_cols)
         {
             params['filter_fmls']=params['filter_fmls']+' and ' +Fuzzy_Enquiry_cols;
         }
         else if (!params.filter_fmls && Fuzzy_Enquiry_cols)
         {
             params['filter_fmls']=Fuzzy_Enquiry_cols;
         }
         params['filter_keys']=filter_keys;
         return params;
     }

     function f_open()
     {
         $.ligerDialog.open({
             height:f_open_data.winheight,//380,
             width: f_open_data.winwidth,//400,
             title : 'Please Select the Column',
             url: '/columns_data_select',
             showMax: false,
             showToggle: true,
             showMin: false,
             isResize: true,
             slide: false,
             onClose :function (item, dialog) { if (this.frame.isdirty) {f_toggleex();}},
             onLoaded :function (item, dialog) { this.frame.set_dialog(this);},
             buttons:[
                 { text:'OK',
                   onclick:function (item, dialog) {
                       dialog.frame.f_ok();
                       //f_toggleex();
                       //dialog.close();
                   }},
                 { text: 'CLOSE', onclick: function (item, dialog) {dialog.close();}},
             ],
             data:f_open_data,
         });
     }

     function f_toggleex()
     {
         f_toggle($("#selcolumn").val(),columns_all);
         search('first');
     }
     function f_toggle(columns_sel,columns_all)
     {
         $("#selcolumn").val(columns_sel);
         nmes=columns_all.split(';');
         sels=columns_sel.split(';');

         for (i=0,leni=nmes.length;i<leni;i++)
         {
             isshow=false;
             for (j=0,lenj=sels.length;j<lenj;j++)
             {
                 if (nmes[i]==sels[j])
                 {
                     isshow=true;break;
                 }
             }
             g.toggleCol(nmes[i], isshow);
         }
     }

     function myextend(des, src, override)
     {
         if(src instanceof Array)
         {
             for(var i = 0, len = src.length; i < len; i++)
                 extend(des, src[i], override);
         }
         for( var i in src)
         {
             if(override || !(i in des))
             {
                 des[i] = src[i];
             }
         }
         return des;
     }
     var select_ids='';
     function search(ctype, op)
     {
         select_ids = f_save_checkin();
         var params = {
             sortorder:g.options.sortOrder,
             sortname:g.options.sortName,
             page: g.options.page,
             pagesize:g.options.pageSize
         };
         f_open_params=f_open_option(f_open_data);
         //myalertjson(f_open_params);
         params=myextend(f_open_params,params);

         g.setOptions({parms : params});
         g.loadServerData(params);
         if (ctype)
             g.changePage(ctype);
     }
     var intclock=0;

     function goodbye()
     {
         self.clearInterval(intclock);
     }
    </script>
    <style type="text/css">
        .l-grid-row-cell,  .l-grid-hd-cell {
            border-color:black;
        }

    </style>
</head>
<body style="padding:6px; overflow:hidden; " onunload="goodbye()">
    <form>
        <table>
            <tr>
                <td><div id='sel_hidden_fields'></div></td>
            </tr>
        </table>
    </form>

    <div id="maingrid4" style="margin:0; padding:0"></div>

    <div style="display:none;"></div>
</body>
</html>
