
{% if latest_list %}
<h2>Latest Test Campaign List</h2>

<ul>
    {% for cam in latest_list %}
    <li> <a href="/campaign_index/?platform={{cam.platform}}&fw_version={{cam.fw_version}}&test_date={{cam.test_date}}&description={{cam.description}}">
        <span style="color:red;font-weight:bold">{{ cam.fw_version }}</span>_
        <span style="color:blue;font-weight:bold">{{ cam.description }}</span>_
        <span style="color:green;font-weight:bold">{{ cam.test_date }}</span>
    </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p> No Test Campaign Show </p>
{% endif %}

<br />
<br />
<br />
<br />

<h2> Test Campaign Query </h2>
<form action="/campaign_query" target="_self">
    <label> FW version: </label>
    <br />
    <input type="text" name='fw_version' />
    <br />
    <label> Description:  </label>
    <br />
    <input type="text" name='description' />
    <br />
    <label> Test Date:  </label>
    <br />
    <input type="text" name='test_date' />
    <br />

    <input type="submit" value="submit" />
</form>
