<!DOCTYPE html>
<html>
    <head>
        <title>ACIS Home Page</title>
	      <meta http-equiv="X-UA-Compatible" content="IE=8"/>
        <link href="../../LigerUI/ACIS/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div class="container-fluid pt-4">

            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link active" id="v-pills-erd-table-version-tab" data-toggle="pill" href="#v-pills-erd-table-version" role="tab" aria-controls="v-pills-erd-table-version" aria-selected="true">
                            ERD Table Version
                        </a>

                        <a class="nav-link" id="v-pills-test-report-tab" data-toggle="pill" href="#v-pills-test-report" role="tab" aria-controls="v-pills-test-report" aria-selected="false">
                            Test Report
                        </a>

                        <a class="nav-link" id="v-pills-by-erd-tab" data-toggle="pill" href="#v-pills-by-erd" role="tab" aria-controls="v-pills-by-erd" aria-selected="false">
                            Test Report by ERD
                        </a>

                        <a class="nav-link" id="v-pills-by-casename-tab" data-toggle="pill" href="#v-pills-by-casename" role="tab" aria-controls="v-pills-by-casename" aria-selected="false">
                            Test Report by Case Name
                        </a>

                        <a class="nav-link" id="v-pills-test-history-tab" data-toggle="pill" href="#v-pills-test-history" role="tab" aria-controls="v-pills-test-history" aria-selected="false">
                            Test History List
                        </a>

                    </div>
                </div>

                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-erd-table-version" role="tabpanel" aria-labelledby="v-pills-erd-table-version-tab">

                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-body">
                                        <form action="switch" target="_blank">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Platform</label>
                                                <select multiple class="form-control" id="exampleFormControlSelect1" name="platform">
                                                    <option value="9X28">9X28</option>
                                                    <option value="9X40">9X40</option>
                                                    <option selected value="QTIX55ARFW">QTIX55ARFW</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="erdTableVersion">Witch Erd Table Version</label>
                                                <input id="erdTableVersion" name="ErdTableVersion" class="form-control" type="text" placeholder="Input Erd Table Version Format: eg. 01.00 ">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="v-pills-test-report" role="tabpanel" aria-labelledby="v-pills-test-report-tab">

                            <div class="container-fluid ">
                                <div class="card">
                                    <div class="card-body">
                                        <form action="switch" target="_blank">

                                            <div class="form-group">
                                                <label for="exampleFormControlSelect2">Platform</label>
                                                <select multiple class="form-control" id="exampleFormControlSelect2" name="platform">
                                                    <option value="9X28">9X28</option>
                                                    <option value="9X40">9X40</option>
                                                    <option selected value="QTIX55ARFW">QTIX55ARFW</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="fwVersion">Firmware Version</label>
                                                <input id="fwVersion" name="FirmwareVersion" class="form-control" type="text" placeholder="FW version format: SWI9X28A_00.11.01.06 ">
                                            </div>

                                            <div class="form-group">
                                                <label for="testDateStart">Test Date : Start</label>
                                                <input id="testDateStart" name="start_test_date" class="form-control" type="date" value="2019-02-04">
                                            </div>
                                            <div class="form-group">
                                                <label for="testDateEnd">Test Date : End</label>
                                                <input id="testDateEnd" name="end_test_date" class="form-control" type="date">
                                            </div>

                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-by-erd" role="tabpanel" aria-labelledby="v-pills-by-erd-tab">

                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-body">
                                        <form action="switch" target="_blank">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect3">Platform</label>
                                                <select multiple class="form-control" id="exampleFormControlSelect3" name="platform">
                                                    <option value="9X28">9X28</option>
                                                    <option value="9X40">9X40</option>
                                                    <option selected value="QTIX55ARFW">QTIX55ARFW</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="ERDid">ERD ID</label>
                                                <input id="ERDid" name="ERD_ID" class="form-control" type="text" placeholder="Input ERD ID Format: eg. 04.60.26 ">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-by-casename" role="tabpanel" aria-labelledby="v-pills-by-casename-tab">

                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-body">
                                        <form action="switch" target="_blank">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect4">Platform</label>
                                                <select multiple class="form-control" id="exampleFormControlSelect4" name="platform">
                                                    <option value="9X28">9X28</option>
                                                    <option value="9X40">9X40</option>
                                                    <option selected value="QTIX55ARFW">QTIX55ARFW</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="caseName">Case Name</label>
                                                <input id="caseName" name="case_name" class="form-control" type="text" placeholder="Input Case Name: eg. ACIS_A_D_LSBUS_I2C_TEST ">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="v-pills-test-history" role="tabpanel" aria-labelledby="v-pills-test-history-tab">

                            <div class="container-fluid">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <form action="switch" target="_blank"> -->
                                        <form action="switch" target="_self">
                                            <div class="form-group">
                                                <label for="hostname">Slave ID (hostname)</label>
                                                <input id="hostname" name="hostname" class="form-control" type="text" placeholder= "Input Slave ID (hostname): eg. F-RZHENG">
                                            </div>
                                            <div class="form-group">
                                                <label for="mac_addr">Slave ID (mac eth0 address)</label>
                                                <input id="mac_addr" name="mac_addr" class="form-control" type="text" placeholder= "Input Slave ID (mac addr): eg. b8:27:eb:38:af:b5">
                                            </div>
                                            <div class="form-group">
                                                <label for="dut_fsn">DUT ID(FSN)</label>
                                                <input id="dut_fsn" name="FSN" class="form-control" type="text" placeholder= "Input DUT FSN: eg. Q2635400140603">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <script src="../../LigerUI/ACIS/static/js/jquery-3.3.1.js" type="text/javascript"></script>
        <script src="../../LigerUI/ACIS/static/js/popper.js" type="text/javascript"></script>
        <script src="../../LigerUI/ACIS/static/js/bootstrap.js" type="text/javascript"></script>
    </body>
</html>
