<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slave Details</title>
</head>
<body>
    <h1>Slave & DUT Monitor</h1>
    <hr/>

    {% for node_name, node_info in info.items %}
        <h2> {{ node_name }} </h2>
        {% for type, spec_info in node_info.items %}
            <h3> {{ type }} </h3>
            <ul>
                {% for name,value in spec_info.items %}
                    {% ifequal name 'DUTs' %}
                    <li> {{ name }} </li>
                    <ul>
                        {% for dut_name,prop in value.items %}
                        <li> {{ dut_name }}</li>
                        <ul>
                            {% for p_name,p_value in prop.items %}
                            <li> {{ p_name }} : {{ p_value }} </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <li> {{ name }} : {{ value }} </li>
                    {% endifequal %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
</body>
</html>
